/*https://coolors.co/463f3a-8a817c-bcb8b1-f4f3ee-e0afa0*/

body {
  font-size: 19px;
  color: black;
  background-color: #463F3A;

  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}


div.container{
    background-color: rgb(254, 255, 248);
    border-radius: 5px;
    padding: 30px;
    width: 80%;
    margin:30px;
}

footer {
  width:80%;
  text-align: center;
  margin-left: 30px;
  padding:10px;
  font-weight: bold;
  color: #f4f3ee
}

header h1 a {
  text-decoration: none;
}

a {
  color: rgb(2, 47, 47);
  text-decoration: underline;
}

a:visited, a:hover, a:active, a:focus {
  color:rgb(29, 49, 49);
  text-decoration: none !important;
  outline: none !important;
}

header h1 {
  margin:0px;
}

img.gh-logo {
  width:30px;
  margin-left: 20px
}


div.logo img {
  width: 75px;
}

header.main-header {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-bottom: 10px;
}

a.nav-btn {
  padding: 10px;
  margin-right: 5px;
  border-radius: 3px;
  display: inline-block;
  text-decoration: underline;
  font-size: 20px;
}

a.nav-selected {
  border-left:0px;
  background-color: darkslategrey;
  color: whitesmoke
}

a.subnav-btn {
  padding: 5px;
  margin-right: 5px;
  border-radius: 3px;
  display: inline-block;
  text-decoration: none;
  font-size: 17px;
}

a.subnav-selected {
  border-left:0px;
  background-color: darkslategrey;
  color: whitesmoke
}


div.site-title {
  align-self: flex-start;
  flex-grow: 2;
}

div.site-links {
  align-self: flex-end;
}

div.terminal {
  overflow: auto;
  color: white;
  background-color: black;
}

div.terminal pre {
  background-color: black;
  color: white;
  padding: 10px;
}

div.terminal pre,code {
  margin: 0px;
}


/* ----------wide screen ----------- */
@media screen 
  and (min-width: 1600px) { 
    div.container {
      width: 50%;
      margin-left: 25%
    }
}
